<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.plugin.noticeboard.model.dao.NoticeBoardMapper">

	<select id="findAll"
	        resultType="NoticeBoardResponseDto">
		SELECT 
		       NOTICE_NO
		     , NICKNAME 
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , COUNT
		     , NB.CREATE_DATE
		     , NB.MODIFY_DATE
		  FROM 
		       NOTICE_BOARD NB
		  LEFT
          JOIN 
               PLU_USER PU ON(NB.USER_ID = PU.USER_ID)
		 WHERE 
		       NB.STATUS = 'Y'
		 ORDER
		    BY
		       NB.CREATE_DATE DESC
		OFFSET #{offset} ROWS FETCH NEXT #{boardLimit} ROWS ONLY
	</select>
	
	<select id="countNotices"
			resultType="Integer">
		SELECT
		       COUNT(*)
		  FROM
		       NOTICE_BOARD
		 WHERE
		       STATUS = 'Y'
	</select>
	
	<select id="existsByNoticeNo">
	SELECT 
	       COUNT(*)
	  FROM
	       NOTICE_BOARD
	 WHERE
	       NOTICE_NO = #{noticeNo}
  	   AND
  	       STATUS = 'Y'
	</select>
	
	<update id="increaseCount">
        UPDATE
		       NOTICE_BOARD
		   SET
		       COUNT = COUNT + 1
		 WHERE
		       STATUS = 'Y'
		   AND
		       NOTICE_NO= #{noticeNo}
	</update>
	
	<select id="findByNoticeNo"
	        resultType="NoticeBoardResponseDto">
		SELECT 
		       NOTICE_NO
		     , NB.USER_ID
		     , NICKNAME 
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , COUNT
		     , NB.CREATE_DATE
		     , NB.MODIFY_DATE
		  FROM 
		       NOTICE_BOARD NB
		  LEFT
          JOIN 
               PLU_USER PU ON(NB.USER_ID = PU.USER_ID)
		 WHERE 
		       NB.STATUS = 'Y'
		   AND
		       NOTICE_NO = #{noticeNo}
	</select>
	
	<insert id="saveNotice">
	INSERT
	  INTO
	       NOTICE_BOARD
	       (
		   NOTICE_NO
		 , USER_ID
	     , NOTICE_TITLE
	     , NOTICE_CONTENT
		   )
	VALUES
	       (
		   SEQ_NBN.NEXTVAL
		 , #{userId}
		 , #{noticeTitle}
		 , #{noticeContent}
		   )
	</insert>
	
	<update id="updateNotice">
	UPDATE
	       NOTICE_BOARD
	   SET    
	       NOTICE_TITLE = #{noticeTitle}
	     , NOTICE_CONTENT = #{noticeContent}
	     , MODIFY_DATE = SYSTIMESTAMP
  	 WHERE
  	       NOTICE_NO = #{noticeNo}
  	   AND
  	       USER_ID = #{userId}
  	   AND 
  	       STATUS = 'Y'
	</update>
	
	<update id="deleteNotice">
	UPDATE
	       NOTICE_BOARD
	   SET
	       STATUS = 'N'
	     , MODIFY_DATE = SYSTIMESTAMP
	 WHERE
	       NOTICE_NO = #{noticeNo}
	   AND
	       STATUS = 'Y'
	</update>
</mapper>