<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.plugin.NoticeBoard.model.dao.NoticeBoardMapper">

<select id="findAll"
        resultType="NoticeBoardResponseDto">

</select>

<select id="countReviews"
			resultType="Integer">
		SELECT
		       COUNT(*)
		  FROM
		       NOTICE_BOARD
		 WHERE
		       STATUS = 'Y'
	</select>
</mapper>