<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.plugin.noticeboard.model.dao.NoticeBoardMapper">

	<select id="findAll"
	        resultType="NoticeBoardResponseDto">
		SELECT 
		       NOTICE_NO
		     , USER_ID
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , COUNT
		     , CREATE_DATE
		     , MODIFY_DATE
		  FROM 
		       NOTICE_BOARD
		 WHERE 
		       STATUS = 'Y'
		 ORDER
		    BY
		       CREATE_DATE DESC
		OFFSET #{pi.offset} ROWS FETCH NEXT #{pi.boardLimit} ROWS ONLY
	</select>
	
	<select id="countNotices"
			resultType="Integer">
		SELECT
		       COUNT(*)
		  FROM
		       NOTICE_BOARD
		 WHERE
		       STATUS = 'Y'
	</select>
	
	<update id="increaseCount">
        UPDATE
		       NOTICE_BOARD
		   SET
		       COUNT = COUNT + 1
		 WHERE
		       STATUS = 'Y'
		   AND
		       NOTICE_NO= #{noticeNo}
	</update>
	
	<select id="findByBoardNo"
	        resultType="NoticeBoardResponseDto">
		SELECT 
		       NOTICE_NO
		     , USER_ID
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , COUNT
		     , CREATE_DATE
		     , MODIFY_DATE
		  FROM 
		       NOTICE_BOARD
		 WHERE 
		       STATUS = 'Y'
		   AND
		       NOTICE_NO = #{noticeNo}
	</select>
</mapper>